body { background-color: gray; }

.relative {
    position: relative;
    top: 0;
    left:0;
    right:0;
}
.absolute {
    position: absolute;
    top: 0;
    left:0;
    right:0;
    font-size: 300%;
}
.headroom {
  position: fixed;
  top: 0;
  left:0;
  right:0;
  transition: all .2s ease-in-out;
}
.headroom--unpinned { top: -100px;}
.headroom--pinned { top: 0px;}
