body {
  background-color: whitesmoke;
}

.fontset {
  font-family: "ＭＳ Ｐゴシック", sans-serif;
  font-weight: bold;
  font-size: 100%;
}

.relative {
  position: relative;
  top: 0;
  left:0;
  right:0;
}

.absolute {
  position: absolute;
}

#title {
  margin-right: 0px;
  color: white;
  top: -30px;
  font-size: 300%;
  left: 10px;
}

#hamburger {
  top: 40px;
  right: 30px;
}

.headroom {
  position: fixed;
  top: 0;
  left:0;
  right:0;
  transition: all .2s ease-in-out;
  z-index: 100;
}

#investment-text {
  color: white;
  font-size: 300%;
  top: 15%;
  left: 4%;
}

.headroom--unpinned {
  top: -100px;
}

.headroom--pinned {
  top: 0px;
}

.SNS-login {
  width: 86%;
  margin: 0 auto;
}

#twitter-login-btn {
	background-color: #00aced;
	border: 1px solid #DDD;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	color: white;
  font-size: 250%;
	width: 100%;
	padding: 10px 0;
}

#facebook-login-btn {
	background-color: #305097;
	border: 1px solid #DDD;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	color: white;
  font-size: 250%;
	width: 100%;
	padding: 10px 0;
}

.player-recommend {
  width: 90%;
  margin: 0 auto;
}

.player-btn{
  float: left;
  background-color: white;
  margin: 1%;
  width: 44%;
  border: 1px solid #DDD;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  padding: 10px 10px;
}

.player-img {
  width: 100%;
}

.player-elem {
  font-size: 150%;
}

.player-name {
  color: black;
}
#player-status-verygood {
  width: 10%;
  float:left;
}

#player-status-point {
  color: indianred;
  font-weight: bold;
}

#player-investment-btn {
  background-color: darkorange;
	border: 1px solid #DDD;
	border-radius: 50px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
  font-size: 100%;
	color: white;
  width: 100%;
	padding: 10px 0;
}
